// colors
$accent-red-color: hsl(10, 79%, 65%); // color for top card and bars
$accent-cyan-color: hsl(186, 34%, 60%); // color for designated bar
$text-color: hsl(25, 47%, 15%);
$subtext-color: hsl(28, 10%, 53%);
$top-card-text-color: hsl(27, 66%, 92%);
$background-color: hsl(33, 100%, 98%);

// fonts
$ff: 'DM Sans', sans-serif;
$fs: 18px;
$fw-regular: 400;
$fw-bold: 700;