@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.main-card {
    // dimensions
    width: 540px;
    min-height: 510px;
    margin-top: 24px;
    border-radius: 20px;
    padding: 35px 20px;

    @include mobile {
        width: 345px;
    }

    background-color: $top-card-text-color;

    .main-card__header {
        margin-left: 20px;
    }

    .main-card__divider {
        height: 2px;
        background-color: $background-color;
        margin: 15px 20px 35px;
    }

    .main-card__summary {
        margin: 0 20px;

        // flex
        display: flex;
        justify-content: space-between;

        .main-card__summary__total {
            .main-card__summary__total__text {
                color: $subtext-color;
                font-size: $fs;
            }

            .main-card__summary__total__value {
                font-weight: $fw-bold;
                font-size: 50px;
                color: $text-color;
            }
        }

        .main-card__summary__last-month {
            text-align: right;
            margin-top: 28px;
            font-size: $fs;

            .main-card__summary__last-month__percent {
                font-weight: $fw-bold;
                color: $text-color;
            }

            .main-card__summary__last-month__text {
                color: $subtext-color;
            }
        }
    }
}