@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.top-card {
    // dimensions
    width: 540px;
    min-height: 123px;
    padding: 0 39px 0 35px;
    border-radius: 20px;

    @include mobile {
        width: 343px;
        min-height: 97px;
        padding: 15px 22px 10px 19px;
        border-radius: 10px;
    }

    background-color: $accent-red-color;

    // flex
    display: flex;
    align-items: center;
    justify-content: space-between;

    .top-card__balance {
        color: $top-card-text-color;

        .top-card__balance__title {
            font-size: 17px;
            margin-bottom: 8px;

            @include mobile {
                font-size: 15px;
                margin-bottom: 0px;
            }
        }

        .top-card__balance__value {
            font-size: 32px;
            font-weight: $fw-bold;

            @include mobile {
                font-size: 25px;
                margin-bottom: 10px;
            }
        }
    }

    .top-card__logo-container {
        img {
            @include mobile {
                height: 40px;
            }
        }
    }
}